.dark-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  -webkit-transition: all 600ms cubic-bezier(0.2, 0.965, 0, 1.005);
  transition: all 600ms cubic-bezier(0.2, 0.965, 0, 1.005);
}

.outerDiv {
  position: fixed;
  /* background-color: rgba(255, 0, 0, 0.219); */
  /* height: 100%;
    width: 10%; */
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
  right: 0;
  top: 40%;
}

.fab {
  z-index: 100;
  cursor: pointer;
  border-radius: 50%;
  /* position: fixed; */
  position: relative;
  right: 0px;
  /* top: 50%; */
  margin-bottom: 10px;
  right: 2%;
  color: #fff;
  background: #3284ff;
  height: 56px;
  width: 56px;
  box-shadow: 0 5px 5px rgba(126, 111, 111, 0.39);
  -webkit-transition: all 600ms cubic-bezier(0.2, 0.965, 0, 1.005);
  transition: all 600ms cubic-bezier(0.2, 0.965, 0, 1.005);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab h1 {
  color: white;
  margin: 0;
  font-family: "Segoe UI";
}
.fab h2 {
  color: white;
  margin: 5px 0;
  font-family: "Segoe UI";
}

.activee {
  cursor: default;
  background: #fff;
  border-radius: 10px;
  width: 96%;
  height: 250px;
  box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.35);
  z-index: 101;
}

.fab-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
  -ms-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#loadicon {
  animation: reload 1s infinite;
}
@keyframes reload {
  100% {
    transform: rotateZ(360deg);
  }
}

.activee .fab-icon {
  display: none;
}

.activee .protect {
  background: none;
}

.cntt-wrapper {
  display: none;
  width: 90%;
  margin: 60px 20px 0 0;
  font-family: "Segoe UI";
}

.activee .cntt-wrapper {
  display: block;
}

.drname {
  display: none;
  position: absolute;
  background-color: #3284ff;
  top: 0;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.activee .drname {
  display: flex;
  justify-content: center;
}

#fab-hdr {
  position: absolute;
  width: 100%;
  background: #d35400;
}

#fab-hdr h3 {
  padding-left: 30px;
}

.cntt {
  padding: 100px 35px 0 35px;
  color: #757575;
}

.btn-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 8px;
  padding: 6px 16px;
}

/* just presenation */
.center {
  margin: 0 auto;
}
.m-t-100 {
  margin-top: 100px;
}
.box {
  height: 300px;
  padding: 100px;
}
